<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>650100051460-btqhas9fl17q66g7ac8201h4eohk7ukj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.650100051460-btqhas9fl17q66g7ac8201h4eohk7ukj</string>
	<key>API_KEY</key>
	<string>AIzaSyByp2Zoa6fvXUVZe81-7TD5i7gKmcfZEmw</string>
	<key>GCM_SENDER_ID</key>
	<string>650100051460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.syr.cis651.Final</string>
	<key>PROJECT_ID</key>
	<string>cis651-final-926a3</string>
	<key>STORAGE_BUCKET</key>
	<string>cis651-final-926a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650100051460:ios:5e003f1e19819c66bfef51</string>
</dict>
</plist>